.project-item {
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.project-item a {
    text-decoration: none;
    background: var(--bg-color);
    border: solid 1px var(--text-color);
    padding: 4px 8px;
    text-align: center;
    font-size: 1rem;
}

.project-item a:hover {
    background: var(--text-color);
    color: var(--bg-color);
    text-decoration: none;
}